@tailwind base;
@tailwind components;
@tailwind utilities;
/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c8cbcb;
  border-radius: 10px;
  border: 2px solid transparent;
  margin-right: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f1;
}
